 <header id="main_header" class="cf">
 <div class="wrapper_wide">
 <%= link_to "Hub Mentors", root_path, id:"logo" %>

  <nav>
    <ul>
    <% unless mentor_signed_in? %>
    <li><%= link_to "Mentors", mentors_path %></li>
    <li><%= link_to "Hubs", hubs_path %></li>
    <li><%= link_to "Start Mentoring", new_mentor_registration_path %></li>
    <li><%= link_to "Sign In", new_mentor_session_path %></li>
    <% else %>
    <li><%= link_to "Dashboard", root_path %></li>
    <li><%= link_to "Mentors", mentors_path %></li>
    <li><%= link_to "Hubs", hubs_path %></li>
    <li><%= link_to "Plan Trip", schedules_path %></li>
    <li><%= link_to "Contact", new_contact_path %></li>         
    <li><%= link_to "Sign Out", destroy_mentor_session_path, method: :delete %></li>
    <% end %>
   </ul>

 </nav>
 </div>
 </header>
